r-data.table
r-mlmetrics
r-dplyr
r-tidyverse
r-broom
r-caret
r-dummies
r-scorecard
r-readxl
r-dataexplorer
r-desctools
r-unbalanced
r-rpart
r-rpart.plot
r-rattle
r-rcolorbrewer
r-rose
r-rocr
r-xgboost
r-hmisc
r-themis